.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 50px;
  margin-left: 120px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

.footer-column a:hover {
  text-decoration: underline;
}

.mid-line {
  width: 50%;
  border-bottom: 2px solid #fff;
  margin: 10px 0;
  align-self: flex-start;
}

.footer-line {
  border-top: 1px solid #fff;
  margin: 20px 100px;
}

.footer-second-name {
  text-align: center;
  margin: 80px 80px;
  font-size: 15px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #bbb;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #bbb;
}

.social-media {
  margin-left: 1100px;
}

.social-media {
  margin-left: 1100px;
}
.social-media h4 {
  margin: 20px;
}
