nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  position: sticky;
  top: 0;
  padding: 1rem;
}

.nav-title {
  font-weight: bold;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin: 0 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: #172554;
}

.nav-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

.nav-menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
  transition: background-color 0.3s;

  /* Responsive styles */
  @media (max-width: 480px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 0.5rem;
      align-items: center;
    }

    nav ul.open {
      display: flex;
    }

    nav ul li {
      width: 100%;
      text-align: center;
    }

    nav ul li a {
      margin: 0.2rem 0;
    }

    .nav-menu {
      display: flex;
    }
  }
}
